.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px ;
    color: white;
    cursor: pointer;
    margin: 10px;
    border: 2px solid black;
}
form.display{
    display: flex;
    justify-content: flex-end;
    margin:20px 0 ;
    
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    width: 300px;
    border: none;
}
form input.equal{
    width: 200px;
}
form input.operator{
    color: #33ffd8;
    border: 2px solid #33ffd8;
}